h1{
    color: blueviolet;
 }
 img{
   width: 400px;
 }
 #thirdDiv {
   height: 600px;
   width: 500px;
   background-color: mediumorchid;
   padding: 50px;
   border: 20px solid blue;
 }
 #spanId{
   font-size: 18px;
   margin: 50px;
   }