.divClass h1{  
    color: rgb(231, 53, 231);
 }

 .divClass #spanId{
    font-size: 18px;
    margin: 50px;
}

 #trirdDiv{
     height: 600px;
     width: 500px;
     background-color: rgb(247, 248, 185);
     padding: 50px;
     border: 4px cornflowerblue;
 }
   

 #trirdDiv ul li img{ 
     width: 400px;
 }

 